body {
  font-family: Arial;
  background: #2C2420;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
}

.card {
  background: #3a312c;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 12px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  margin-top: 6px;
}

input {
  padding: 8px;
  width: 100%;
  margin-top: 6px;
  border-radius: 6px;
  border: none;
}
